/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    line-height: 1.6;

}

/* Header */
header {
    background: #333;
    padding: 1rem;
    color: #fff;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Section */
section {
    padding: 2rem;
   
}

.project-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;    
}

.project-card {
    background: #fff;
    border: 1px solid #ddd;
    padding: 1rem;
    width: 30%;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.project-card a {
    display: inline-block;
    margin-top: 10px;
    color: #007BFF;
    text-decoration: none;
}

/* social links */
.social-links {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-links a {
    font-size: 28px;
    color: #333;
    transition: 0.3s ease;
}
.social-links a:hover {
    color: #0077ff;
}

 footer {
    text-align: center;
    padding: 1rem;
     background: #333;
    color: #fff;
 }

/* Fade-in effect for section */
.fade-in {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s ease-out, transform 0.88s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}