/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    line-height: 1.6;

}

/* Header */
header {
    background: #333;
    padding: 1rem;
    color: #fff;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Section */
section {
    padding: 2rem;
   
}

.project-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;    
}

.project-card {
    background: #fff;
    border: 1px solid #ddd;
    padding: 1rem;
    width: 30%;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.project-card a {
    display: inline-block;
    margin-top: 10px;
    color: #007BFF;
    text-decoration: none;
}

/* Project view */
#project-viewer {
    margin-top: 30px;
    text-align: center;
}

#project-frame {
    width: 100%;
    max-width: 900px;
    height: 600px;
    border: 1px solid #ccc;
    border-radius: 8px;
}
/* social links */
.social-links {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-links a {
    font-size: 30px;
    color: #333;
    transition: color 0.3s ease;
    margin: 0 10px;
}
.social-links a:hover {
    color: #0077b5;
}

.social-links a:nth-child(1):hover {color: #333;}
.social-links a:nth-child(2):hover {color: #0077b5;}
.social-links a:nth-child(3):hover {color: #1da1f2;}
.social-links a:nth-child(4):hover {color: #d93025;}
.social-links a:nth-child(5):hover {color: #333;}
.social-links a:nth-child(6):hover {color: #333;}
.social-links a:nth-child(7):hover {color: #333;}

 footer {
    text-align: center;
    padding: 20px;
     background: #222;
    color: #fff;
    margin-top: 40px;
 }

/* Fade-in effect for section */
.fade-in {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s ease-out, transform 0.88s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Contact form */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 500px;
    margin: auto;
}

form input, form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

form button {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    border: non;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background: #45a049;
}